<z-card
  class="cursor-pointer hover:border-primary/50 transition-colors block group border border-transparent hover:border-primary/20 h-full w-full"
>
  <div class="flex flex-col">
    <span class="font-semibold text-lg">{{ plan().title }}</span>
    <div class="flex items-center text-sm text-muted-foreground mt-1 gap-2">
      <div class="flex items-center gap-1.5 bg-secondary/50 px-2 py-0.5 rounded-md">
        <lucide-icon [img]="Calendar" class="w-3.5 h-3.5"></lucide-icon>
        <span class="font-medium text-xs text-secondary-foreground"
          >{{ plan().sessions_per_week }} days</span
        >
      </div>
      <span class="text-xs font-medium px-2 py-0.5 rounded-md border border-border">{{
        plan().difficulty
      }}</span>
    </div>
  </div>
</z-card>
