<header
  class="w-full min-h-[56px] relative container max-w-2xl mx-auto flex-1 flex flex-col justify-center"
>
  <!-- Top Row -->
  <div class="h-full relative flex items-center justify-between w-full">
    <div class="absolute top-0 left-4 flex items-center gap-4">
      <!-- Left action area -->
      @if (showBackBtn()) {
        <button
          z-button
          [zType]="isTransparant() ? 'outline' : 'ghost'"
          zSize="icon"
          zShape="circle"
          (click)="goBack()"
        >
          <ng-icon name="lucideArrowLeft" size="1.5rem"></ng-icon>
          <span class="sr-only">Back</span>
        </button>
      }
      <ng-content select="[left]"></ng-content>
    </div>

    <div
      class="w-full px-20 h-full m-auto flex items-center justify-center gap-3 font-bold text-2xl tracking-tight text-center"
    >
      <ng-content select="[title-icon]"></ng-content>
      @if (title()) {
        <h1 class="text-wrap">{{ title() }}</h1>
      }
    </div>

    <!-- Right action area -->
    <div class="absolute top-0 right-4 flex items-center gap-4">
      <ng-content select="[right]"></ng-content>
    </div>
  </div>
</header>

<!-- Bottom Row (New slot) -->
<div class="w-full flex justify-center">
  <ng-content select="[bottom]"></ng-content>
</div>
