<div class="mb-8">
  <!-- Header -->
  <div class="container max-w-2xl mx-auto px-4 pt-6">
    <div class="flex items-center gap-4">
      <div class="size-16 rounded-full bg-secondary flex items-center justify-center">
        <lucide-icon [img]="Dumbbell" class="size-6"></lucide-icon>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-xl font-bold">Ganbatte, Jodie!</h1>
        <div class="flex items-center gap-1">
          <p class="text-sm text-muted-foreground">3 days this week</p>
          <lucide-icon [img]="Flame" class="h-3 w-3"></lucide-icon>
        </div>
      </div>
    </div>
  </div>

  <main class="container mx-auto px-4 max-w-2xl mt-8">
    <!-- Hero Card: Current Plan & Session -->
    @if (activePlan()) {
      <z-card class="mb-6 block hover:border-primary/50 transition-colors cursor-pointer group">
        <div class="flex justify-between items-start mb-6">
          <div class="flex flex-col">
            <span class="text-sm font-semibold text-primary mb-1 uppercase tracking-wider"
              >Current Plan</span
            >
            <h2 class="text-2xl font-bold">{{ activePlan()!.title }}</h2>
            <div class="flex items-center text-sm text-muted-foreground mt-2 gap-2">
              <lucide-icon [img]="Calendar" class="w-4 h-4"></lucide-icon>
              <span>{{ activePlan()!.days }} days / week</span>
            </div>
          </div>
          <div class="p-3 bg-primary/5 text-primary rounded-2xl hidden sm:inline-block">
            <lucide-icon [img]="Dumbbell" class="w-6 h-6"></lucide-icon>
          </div>
        </div>

        <!-- Horizontal List of Upcoming Sessions -->
        <div class="flex overflow-x-auto gap-3 pb-2 mt-4 snap-x hide-scrollbar">
          @for (session of mappedSessions(); track session.id) {
            <app-upcoming-session-card [session]="session" />
          }
        </div>

        <!-- Start Empty Workout Action -->
        <div class="mt-4">
          <a
            routerLink="/session/create"
            class="py-3 flex items-center justify-center gap-3 w-full bg-white border-1 border-border rounded-xl font-medium text-md hover:bg-secondary/60 hover:text-primary/80 cursor-pointer transition-all"
          >
            Start Empty Workout
          </a>
        </div>
      </z-card>
    }

    <!-- Explore Plans Section (Horizontal) -->
    <div class="mt-8 mb-2">
      <div class="flex items-center justify-between mb-4 px-1">
        <h3 class="font-semibold text-lg hover:text-primary transition-colors cursor-pointer">
          Explore Plans
        </h3>
        <button
          class="text-primary text-sm font-semibold bg-primary/10 px-3 py-1 rounded-full transition-colors hover:bg-primary hover:text-primary-foreground cursor-pointer"
        >
          View All
        </button>
      </div>

      <div class="flex overflow-x-auto gap-3 pb-2 snap-x hide-scrollbar">
        @for (plan of otherPlans; track plan.id) {
          <app-explore-plan-card [plan]="plan" />
        }
      </div>
    </div>

    <!-- Recent Activity Section -->
    @if (recentSessions().length > 0) {
      <div class="mt-8 mb-4">
        <div class="flex items-center justify-between mb-4 px-1">
          <h3 class="font-semibold text-lg hover:text-primary transition-colors cursor-pointer">
            Recent Activity
          </h3>
          <a
            routerLink="/journey"
            class="text-primary text-sm font-semibold bg-primary/10 px-3 py-1 rounded-full transition-colors hover:bg-primary hover:text-primary-foreground cursor-pointer"
            >View All</a
          >
        </div>

        <div class="flex flex-col gap-4">
          @for (session of recentSessions(); track session.id) {
            <app-logged-workout-card [session]="session" />
          }
        </div>
      </div>
    }
  </main>
</div>
