<div
  class="group/session bg-secondary/40 rounded-2xl p-4 flex justify-between items-center hover:bg-secondary/60 transition-colors border border-transparent hover:border-primary/20 h-full w-full cursor-pointer"
  (click)="goToSession()"
>
  <div class="flex flex-col mr-4">
    @if (isUpNext) {
      <span class="text-xs text-muted-foreground mb-1">Up Next</span>
    }
    <span class="font-semibold text-secondary-foreground text-sm whitespace-nowrap line-clamp-1">{{ title }}</span>
  </div>
  <div
    class="h-10 w-10 rounded-full group-hover/session:bg-primary group-hover/session:text-white flex-shrink-0 flex items-center justify-center ransition-colors"
  >
    <lucide-icon [img]="ChevronRight"></lucide-icon>
  </div>
</div>
